#APPS
PORT=8000
SECRET=reallysecret
ENVIRONMENT=local

#DATABASE
DATABASE_URL=

#Midtrans
CLIENTKEY=
SERVERKEY=

#Cloudinary
CCNAME=
CCAPIKEY=
CCAPISECRET=
CCFOLDER=

#Shipping
ONGKIRKEY=

#AI
OPENAIAPIKEY=